backend:
  name: git-gateway
  branch: main
publish_mode: editorial_workflow
media_folder: "public/img"
public_folder: "/img"
collections:
  - name: "blog"
    label: "Blog Posts"
    folder: "content/blog"
    create: true
    slug: "{{author}}/{{date | date('YYYY-MM-DD')}}/{{slug}}/index"
    path: "{{author}}/{{date | date('YYYY-MM-DD')}}/{{slug}}/index"
    media_folder: ""
    public_folder: ""
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Slug", name: "slug", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - {
          label: "Author",
          name: "author",
          widget: "select",
          options:
            [
              { label: "Jane", value: "jane" },
              { label: "Abby", value: "abby" },
              { label: "Adèsse", value: "adesse" },
              { label: "Orion", value: "orionlw" },
              { label: "Amelia", value: "amelia" },
              { label: "Nic", value: "nic" },
            ],
        }
      - { label: "Tags", name: "tags", widget: "list", default: ["posts"] }
      - { label: "Body", name: "body", widget: "markdown" }
  - name: "authors"
    label: "Authors"
    files:
      - label: "Author Data"
        name: "authors"
        file: "_data/authors.json"
        fields:
          - {
              label: "Jane",
              name: "jane",
              widget: "object",
              fields:
                [
                  { label: "Name", name: "name", widget: "string" },
                  { label: "Bio", name: "bio", widget: "string" },
                  { label: "Note", name: "note", widget: "string" },
                  {
                    label: "Links",
                    name: "links",
                    widget: "list",
                    fields:
                      [
                        { label: "URL", name: "url", widget: "string" },
                        { label: "Label", name: "label", widget: "string" },
                      ],
                  },
                ],
            }
          - {
              label: "Abby",
              name: "abby",
              widget: "object",
              fields:
                [
                  { label: "Name", name: "name", widget: "string" },
                  { label: "Bio", name: "bio", widget: "string" },
                  { label: "Note", name: "note", widget: "string" },
                  {
                    label: "Links",
                    name: "links",
                    widget: "list",
                    fields:
                      [
                        { label: "URL", name: "url", widget: "string" },
                        { label: "Label", name: "label", widget: "string" },
                      ],
                  },
                ],
            }
          - {
              label: "Adèsse",
              name: "adesse",
              widget: "object",
              fields:
                [
                  { label: "Name", name: "name", widget: "string" },
                  { label: "Bio", name: "bio", widget: "string" },
                  { label: "Note", name: "note", widget: "string" },
                  {
                    label: "Links",
                    name: "links",
                    widget: "list",
                    fields:
                      [
                        { label: "URL", name: "url", widget: "string" },
                        { label: "Label", name: "label", widget: "string" },
                      ],
                  },
                ],
            }
          - {
              label: "Orion",
              name: "orionlw",
              widget: "object",
              fields:
                [
                  { label: "Name", name: "name", widget: "string" },
                  { label: "Bio", name: "bio", widget: "string" },
                  { label: "Note", name: "note", widget: "string" },
                  {
                    label: "Links",
                    name: "links",
                    widget: "list",
                    fields:
                      [
                        { label: "URL", name: "url", widget: "string" },
                        { label: "Label", name: "label", widget: "string" },
                      ],
                  },
                ],
            }
          - {
              label: "Amelia",
              name: "amelia",
              widget: "object",
              fields:
                [
                  { label: "Name", name: "name", widget: "string" },
                  { label: "Bio", name: "bio", widget: "string" },
                  { label: "Note", name: "note", widget: "string" },
                  {
                    label: "Links",
                    name: "links",
                    widget: "list",
                    fields:
                      [
                        { label: "URL", name: "url", widget: "string" },
                        { label: "Label", name: "label", widget: "string" },
                      ],
                  },
                ],
            }
          - {
              label: "Nic",
              name: "nic",
              widget: "object",
              fields:
                [
                  { label: "Name", name: "name", widget: "string" },
                  { label: "Bio", name: "bio", widget: "string" },
                  { label: "Note", name: "note", widget: "string" },
                  {
                    label: "Links",
                    name: "links",
                    widget: "list",
                    fields:
                      [
                        { label: "URL", name: "url", widget: "string" },
                        { label: "Label", name: "label", widget: "string" },
                      ],
                  },
                ],
            }
